-e .
git+https://github.com/dirmeier/palettes@v0.1.1
ipython
matplotlib
nbsphinx
seaborn
sphinx
sphinx-autobuild
sphinx-book-theme
sphinx-math-dollar
sphinx_autodoc_typehints
sphinx_design
sphinx_fontawesome
sphinx_gallery
sphinxcontrib-fulltoc
