matplotlib
nbsphinx
git+https://github.com/dirmeier/palettes@v0.1.1#egg=palettes
seaborn
sphinx
sphinx-autobuild
sphinx-book-theme
sphinx-math-dollar
sphinx_autodoc_typehints
sphinx_fontawesome
sphinx_gallery
sphinxcontrib-fulltoc
