:root {
    --md-primary-fg-color: #b26679;
    --md-primary-bg-color: #ffe9dd;
    --pst-color-secondary: rgb(121, 40, 161);
    --pst-color-inline-code-links: rgb(121, 40, 161);
    --md-accent-fg-color: rgb(121, 40, 161);
}

h1 > code > span {
    font-family: var(--pst-font-family-monospace);
    font-weight: 700;
}

nav > li > a > code.literal {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    border: 0;
}

nav.bd-links p.caption {
    text-transform: uppercase;
}

code.literal {
  background-color: white;
  border: 0;
  border-radius: 0;
}
a:hover {
      text-decoration-thickness: 1px !important;
}


ul.bd-breadcrumbs li.breadcrumb-item a:hover {
  text-decoration-thickness: 1px;
}

nav.bd-links li > a:hover {
  text-decoration-thickness: 1px;
}

.prev-next-area a p.prev-next-title {
  text-decoration: none !important;
}

button.theme-switch-button {
    display: none !important;
}
