html[data-theme="dark"], html[data-theme="light"] {
    /*--pst-color-primary: #204a87;*/
    /*--pst-color-link: #204a87;*/
    /*--sd-color-primary: #204a87;*/
}

h1 > code > span {
    font-family: var(--pst-font-family-monospace);
    /*color: #204a87;*/
    font-weight: 700;
}

nav > li > a > code.literal {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: white;
    border: 0px;
}

nav.bd-links p.caption {
    text-transform: uppercase;
}

code.literal {
  background-color: white;
  border: 0px;
  border-radius: 0px;
}
